<div class="container">
  <form name="signup" action="/signup" method="post">
    <input id="user_name" name="user_name" type="text" placeholder="User Name" />
    <input id="email" name="email" type="email" placeholder="email@example.com" />
    <input id="password" name="password" type="password" placeholder="Password" />
    <input id="button" type="submit" value="Sign Up" />
  </form>
</div>