<div class="container">
	<h1>Signup for infinite URL's!</h1>
  <form id="signup" name="signup" action="/signup" method="post">
    <input id="user_name" name="user_name" type="text" placeholder="User Name" />
    <input id="email" name="email" type="email" placeholder="email@example.com" />
    <input id="password" name="password" type="password" placeholder="Password" />
    <input id="button" type="submit" value="Sign Up" />
  </form>
  <form id="home" action="/" method="get">
    <button name="home" type="submit" value="sign_up">Home</button>
  </form>
</div>